.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  .set-font-size (16px, 20px);
  font-family: @font-title;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: @color-white;
  background-color: @bc-green;
  border: none;
}
