.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 24px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid @bc-gray-border;


  @media (max-width: @only-mobile-width) {
    margin-top: -1px;
    margin-left: -20px;
    margin-right: -20px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 136px;
    width: 324px;
    background-color: @bc-gray;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 142px;
    padding-bottom: 11px;
    width: 245px;
  }
}

.catalog-item:nth-child(2n - 1) {
  @media (min-width: @only-mobile-width) and (max-width: @only-tablet-width) {
    margin-right: 30px;
  }
}

.catalog-item:not(:nth-child(4n)) {
  @media (min-width: @desktop-width) {
    margin-right: 30px;
  }
}

.catalog-item__image {
  display: block;
  text-align: center;

  @media (max-width: @only-mobile-width) {
    width: 100%; //
  }

  @media (min-width: @tablet-width) {
    margin-top: -80px;
    margin-right: -40px;
    margin-left: -40px;
    margin-bottom: 0;
    min-height: 208px;
  }
}

.catalog-item__button {
  margin-top: -3px;
  width: 100%;
  .set-font-size (16px, 20px);

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 24px;
  }
}

.catalog-item__title {
  margin-top: 22px;
  margin-bottom: 11px;

  width: 64%;
  font-family: @font-title;
  .set-font-size (16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
  color: @color-title;

  @media (min-width: @tablet-width) {
    align-self: center;
    .set-font-size (20px, 20px);
    white-space: pre-wrap;
    text-align: center;
    margin-bottom: 19px;
    margin-top: 35px;
  }
}

.catalog-item__description {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-bottom: 3px;
  }
}

.catalog-item__options {
  .set-font-size (12px, 13px);
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    border-collapse: collapse;
    .set-font-size (16px, 16px);
  }
}

.catalog-item__option-left,
.catalog-item__option-right {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

.catalog-item__option-right {
  text-align: right;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-item__option-left {
  text-align: left;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-item__wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
