.collaboration {
  margin-bottom: 40px;
  padding-top: 15px;
  width: 100%;
  background-color: @bc-white;
}

.collaboration__contacts {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-bottom: 10px;
}

.collaboration__title {
  font-family: @font-title;
  .set-font-size(16px, 20px);
  text-transform: uppercase;
  font-weight: 400;
  color: @color-title;
}

.collaboration__text {
  .set-font-size(14px, 20px);
  color: @color-text;
}
