.copyright__text {
  padding-bottom: 7px;
  max-width: 115px;
  text-decoration: none;
  .set-font-size(16px, 16px);
  color: @color-text;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 25px;
  }
}

.copyright__link {
  display: block;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }

  svg {
    width: 27px;
    height: 34px;
    fill: #666666;
  }

  &:hover svg {
    fill: @bc-green;
  }

  &:active svg {
    fill: @bc-green;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-left: 22px;
    margin-bottom: 18px;
  }
}
