.extra-product__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: @font-title;
  .set-font-size (16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
  color: @color-title-extra;

  @media (min-width: @tablet-width) {
    margin-bottom: 27px;
    .set-font-size (20px, 20px);
  }

  @media (min-width: @desktop-width) {
    white-space: nowrap;
    margin: 0;
  }
}

.extra-product__options {
  margin: 0;
  margin-bottom: 12px;
  .set-font-size (14px, 14px);
  color: @color-text;
  // width: 100%;
  width: 286px;

  @media (min-width: @tablet-width) {
    margin-right: -6px;
    width: 58%;
    .set-font-size (16px, 20px);
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    margin: 0;
    margin-bottom: -8px;
    padding-left: 15px;
  }
}

.extra-product__options--cost {
  text-align: right;
  width: 46px;

  @media (min-width: @desktop-width) {
    width: 46px;
    text-align: left;
  }
}

.extra-product__options--amount {
  width: auto;

  @media (min-width: @tablet-width) {
    width: 74%;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 83%;
    text-align: left;
  }
}
