.extra-catalog__list {
  .list-reset();
}

.extra-catalog__item {
  margin-bottom: 17px;
}

.extra-catalog__title {
  font-family: @font-title;
  .set-font-size (24px, 24px);
  font-weight: 400;
  color: @color-title;
}
