.extra-catalog {
  margin-left: 20px;
  margin-right: 20px;
}

.extra-catalog__list {
  list-style: none;
  padding: 0;
}

.extra-catalog__item {
  margin-bottom: 17px;
}

.extra-catalog__title {
  font-family: @font-title;
  .set-font-size (24px, 24px);
  font-weight: 400;
  color: @color-title;
}
