.form {
  margin-bottom: 33px;

  font-family: @font-title;
  .set-uppercase();
  .set-font-size(16px, 18px);
  font-weight: 400;
  color: @color-title-extra;

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
    .set-font-size(20px, 20px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 84px;
  }
}

.form__wrapper-information-cat {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 49px;
  }
}

.form__fieldset {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  border: none;
}

.form__fieldset--information-cat {
  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
    padding-left: 41px;
    padding-right: 35px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    width: 46.7%;
  }
}

.form__fieldset--information-owner {
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 5px;
  }
}

.form__fieldset--program {
  padding-top: 19px;
  padding-bottom: 7px;
  padding-left: 20px;
  margin-right: -20px;
  margin-left: -20px;
  border: 1px solid #ededed;

  @media (min-width: @tablet-width) {
    margin-right: 37px;
    margin-left: 40px;
    margin-bottom: 71px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;

    padding-top: 24px;
    padding-bottom: 12px;
    padding-left: 25px;

    width: 46.8%;
    height: 100%;
  }
}

.form__fieldset--commentary {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 52px;
  }
}

.form__fieldset--additional {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
  }
}

.form__wrapper-information-owner {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 31px;
  }
}

.form__row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 21px;
  }
}

.form__row--program {
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin-bottom: 13px;
  }
}

.form__row--additional {
  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    margin-left: 0;
    width: 344px;
  }

  @media (min-width: @desktop-width) {
    // margin-left: 0;
    width: 245px;
  }
}

.form__row--email,
.form__row--phone {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-left: 40px;
    margin-right: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 47%;
    margin-left: 2px;
    margin-right: 0;
  }
}

.form__label {
  position: relative;
  margin-left: -2px;
  margin-right: 13px;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    margin-right: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.form__input-checkbox,
.form__input-radio {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__label-checkbox {
  padding-left: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 3px;
    z-index: 1;
    width: 30px;
    height: 30px;
    border: 1px solid @bc-gray-border-dark;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    left: 8px;
    top: 9px;
    width: 21px;
    height: 10px;
    border: 2px solid @bc-green;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    padding-left: 64px;
    padding-top: 13px;
    padding-bottom: 13px;

    &::before {
      top: 4px;
      left: 5px;
      width: 40px;
      height: 40px;
    }

    &::after {
      top: 16px;
      left: 16px;
      width: 21px;
      height: 10px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 59px;

    &::before {
      left: 0;
    }

    &::after {
      left: 10px;
    }
  }
}

.form__input-checkbox:checked + .form__label-checkbox::after {
  display: block;
}

.form__label-radio {
  padding-left: 47px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    content: "";
    left: 1px;
    top: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid @bc-gray-border-dark;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: @bc-green;
  }

  @media (min-width: @tablet-width) {
    padding-left: 69px;
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      left: 10px;
      width: 40px;
      height: 40px;
    }

    &::after {
      left: 21px;
      top: 11px;
      width: 18px;
      height: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 63px;

    &::before {
      left: 3px;
    }

    &::after {
      left: 14px;
      top: 11px;
    }
  }
}

.form__label-radio:hover::before,
.form__label-checkbox:hover::before {
  border-color: #bababa;
}

.form__input-radio:checked + .form__label-radio::after {
  display: block;
}

.form__input-field {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  margin-bottom: -1px;
  box-sizing: border-box;
  background-color: @color-white;
  border: 1px solid @color-form-border;

  &:focus:invalid {
    border-color: @color-error;
    box-shadow: inset 0 0 0 1px @color-error;
  }

  &:focus:invalid + .form__input-icon-email,
  &:focus:invalid + .form__input-icon-phone {
    fill: @color-error;
  }


  &::placeholder {
    .set-uppercase();
    color: @color-text;
  }

  &:hover {
    border-color: @bc-gray-border-dark;
  }

  &:hover + .form__input-icon-email,
  &:hover + .form__input-icon-phone {
    fill: @bc-green;
  }

  &:focus {
    border-color: @color-text;
    box-shadow: inset 0 0 0 1px @color-text;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    height: 52px;
  }
}

.form__input-radio {
  @media (min-width: @tablet-width) {
    margin-left: 19px;
  }
}

.form__header-line {
  position: relative;
  margin-bottom: 33px;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;

    height: 3px;
    width: 100%;
    background-color: @bc-green;
  }

  @media (min-width: @tablet-width) {
    &::after {
      top: 23px;
    }
  }
}

.form__legend {
  position: relative;
  z-index: 1;
  padding-right: 20px;
  margin: 0;
  padding-left: 18px;
  margin-left: -18px;
  .set-font-size(24px, 24px);
  font-weight: 400;
  text-transform: none;
  background-color: @bc-white;
  width: fit-content;
  color: @color-title;

  @media (min-width: @tablet-width) {
    margin-left: -2px;
    padding-left: 41px;
    padding-right: 42px;

    .set-font-size(36px, 36px);
  }

  @media (min-width: @desktop-width) {
    margin-left: -41px;
  }
}

.form__legend br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__legend--information-owner {
  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }
}

.form__textarea {
  padding-left: 14px;
  padding-top: 12px;
  padding-right: 12px;
  margin-top: 2px;
  width: 280px;
  min-height: 150px;
  resize: none;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    border-color: @bc-gray-border-dark;
  }

  &:focus {
    border-color: @color-text;
    box-shadow: inset 0 0 0 1px @color-text;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    width: 89%;
    height: 174px;
    margin-top: 44px;
    margin-left: 39px;
    padding-top: 15px;
    padding-left: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    padding-top: 12px;
    width: 100%;
  }
}

.form__textarea::placeholder {
  color: @color-text;
}

.form__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-left: 41px;
    margin-right: 58px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 7px;
    width: 40.4%;
    .set-font-size(20px, 20px);
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 82px;
    padding-left: 6px;
    padding-right: 0;
    padding-bottom: 16px;
    width: 46.6%;
    .set-font-size(20px, 20px);
  }
}

.form__button-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    padding-left: 59px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 39px;
  }
}

.form__text {
  margin-top: 21px;
  font-family: @font-main;
  .set-font-size(14px, 16px);
  text-transform: none;
  text-align: center;
  color: @color-text;

  @media (min-width: @tablet-width) {
    margin-top: 16px;
    .set-font-size(16px, 16px);
  }
}

.form__wrapper-additional {
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 19px;
    // padding-left: 62px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    padding-right: 0;
    padding-bottom: 7px;
  }
}

.form__container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__fieldset--additional .form__row {
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
    padding-left: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.form__input-icon-email {
  position: absolute;
  right: 16px;
  top: 15px;
  width: 18px;
  height: 14px;

  @media (min-width: @tablet-width) {
    right: 21px;
    top: 19px;
  }

  @media (min-width: @desktop-width) {
    right: 24px;
    top: 21px;
  }
}

.form__input-icon-phone {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 21px;
  height: 21px;

  @media (min-width: @tablet-width) {
    right: 18px;
    top: 17px;
  }
}

.form__row--email .form__label {
  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.form__row--phone .form__label {
  @media (min-width: @tablet-width) {
    margin-right: 17px;
  }
}

.form__fieldset--information-cat .form__label {
  @media (min-width: @tablet-width) {
    margin-right: 17px;
  }
}

.form__fieldset--information-owner .form__input-field {
  @media (min-width: @tablet-width) {
    padding-left: 19px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 18px;
  }
}

.form__fieldset--information-cat .form__input-field {
  @media (min-width: @tablet-width) {
    padding-left: 18px;
    padding-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 18px;
  }
}
