.main-nav__toggle {
  width: 24px;
  height: 18px;

  background-color: transparent;
  border: none;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  color: @color-title;
  text-decoration: none;
}

.site-list__item {
  font-family: @font-title;
  .set-font-size (20px, 20px);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}
