.main-nav__toggle {
  width: 24px;
  height: 18px;

  background-color: transparent;
  border: none;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }
}
