.page-footer {
  width: @mobile-width;
  padding-bottom: 20px;
  background-color: @bc-gray;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__copyright {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
