.page-header {
  padding-top: 11px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
  }
}

.page-header--index {
  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
    min-height: 696px;

    background-image:
      url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to right, white 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: left calc(50% + 360px) top 0, left top;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__logo {
  padding-bottom: 12px;
  width: 191px;

  @media (min-width: @tablet-width) {
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 203px;
  }
}
