.page-header {
  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}

.page-header--index {
  @media (min-width: @desktop-width) {
    margin-bottom: 80px;

    background-image:
      url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to right, white 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: 100%, center;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 11px;
  padding-bottom: 15px;
}
