.program__list {

}

.program-list__item {
  background-color: @bc-gray;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 23px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 23px;
  padding-top: 10px;
}

.program__title {
  position: relative;
  padding-left: 72px;

  font-family: @font-title;
  .set-font-size(24px, 37px);
  text-transform: uppercase;
  font-weight: 400;
  color: @color-title;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;

    width: 50px;
    height: 50px;

    background-color: @bc-green;
    border-radius: 50%;
  }
}

.program__title--weight-loss {
  &::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 7px;

    .set-image-size (25px, 49px);
    background-image: url(../img/icon-cat-slim.svg);
    background-repeat: no-repeat;
  }
}

.program__title--weight-gain {
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -9px;

    .set-image-size (67px, 28px);
    background-image: url(../img/icon-cat-pro.svg);
    background-repeat: no-repeat;
  }
}

.program__text {
  .set-font-size(14px, 18px);
}

.program__link {
  font-family: @font-title;
  text-decoration: none;
  text-transform: uppercase;
  .set-font-size(16px, 16px);
  color: @color-title;
}
