.result {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: @bc-gray;
}

.result__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: @font-title;
  .set-font-size(36px, 60px);
  font-weight: 400;
  color: @color-title;
}

.result__text {
  margin: 0;
  padding-right: 23px;
  .set-font-size(14px, 18px);
}

.result__list {
  list-style: none;
  padding: 0;
}

.result__total {
  font-family: @font-title;
  .set-font-size(24px, 24px);
  font-weight: 400;
}

.result__total-text {
  .set-font-size(12px, 12px);
}

.result__cost {
  font-family: @font-title;
  .set-font-size(14px, 20px);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.result__button {
  background-color: transparent;
  border: none;
  font-family: @font-title;
  .set-font-size(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
}
