.result {
  position: relative;
  padding-top: 20px;
  padding-bottom: 34px;
  background-color: @bc-gray;

  @media (min-width: @tablet-width) {
    background-color: @bc-white;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      height: 462px;
      width: 100%;
      background-image: linear-gradient(to right, @bc-gray 50%, #eaeaea 50%);
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;

    &::before {
      background-image: linear-gradient(to right, @bc-gray calc(50% + 300px), #eaeaea calc(50% + 300px));
    }
  }
}

.result__numbers-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 0;
  }
}

.result__title {
  margin: 0;
  margin-bottom: 21px;
  font-family: @font-title;
  .set-font-size(36px, 60px);
  font-weight: 400;
  color: @color-title;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
    .set-font-size(60px, 60px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 145px;
    margin-top: 57px;
  }
}

.result__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 13px;
  .set-font-size(14px, 18px);

  @media (min-width: @tablet-width) {
    padding-right: 31px;
    margin-bottom: 52px;
    .set-font-size(16px, 24px);
  }

  @media (min-width: @desktop-width) {
    padding-right: 98px;
    margin-bottom: 68px;
  }
}

.result__list {
  display: flex;
  justify-content: space-between;
  .list-reset();
  margin-bottom: 34px;

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.result__item {
  position: relative;
  min-width: 124px;
  min-height: 56px;
  padding-top: 14px;
  padding-bottom: 11px;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
    min-width: 162px;
    min-height: 72px;
  }
}

.result__total {
  font-family: @font-title;
  .set-font-size(24px, 24px);
  font-weight: 400;
  .set-uppercase();
  color: @color-title;

  @media (min-width: @tablet-width) {
    .set-font-size(30px, 37px);
  }
}

.result__total-text {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  margin: 0 auto;

  padding-left: 17px;
  padding-right: 17px;
  width: 90px;
  text-align: center;
  .set-font-size(12px, 12px);
  background-color: @bc-gray;

  @media (min-width: @tablet-width) {
    top: 61px;
    padding-left: 9px;
    padding-right: 9px;
    width: fit-content;
    .set-font-size(14px, 14px);
    background-color: @bc-white;
  }

  @media (min-width: @desktop-width) {
    background-color: @bc-gray;
  }
}

.result__cost {
  margin-top: 0;
  margin-bottom: 36px;
  font-family: @font-title;
  .set-font-size(14px, 20px);
  font-weight: 400;
  .set-uppercase();
  text-align: center;
  color: @color-title;

  @media (min-width: @tablet-width) {
    width: 175px;
    .set-font-size(20px, 20px);
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin-top: 30px;
    width: 100%;
    text-align: left;
  }
}

.result__cost-text {
  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 60px;
  }
}

.result__image-wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    height: 100%;
    width: 690px;
    right: -40px;
  }
}

.result__image {
  display: block;
  margin-bottom: 59px;

  @media (max-width: @only-mobile-width) {
    background-color: #f2f2f2;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    height: 100%;
  }
}

.result__image--after {
  @media (min-width: @tablet-width) {
    position: relative;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(to top, #eaeaea 349px, #ffffff 349px);
  }

  @media (min-width: @desktop-width) {
    right: 0;
    background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
  }
}

.result__image--before {
  position: absolute;

  img {
    max-width: none;
  }

  @media (min-width: @tablet-width) {
    z-index: 2;
    width: 338px;
    background-image: linear-gradient(to top, #f2f2f2 349px, #ffffff 349px);
    overflow: hidden;
  }

  @media (min-width: @desktop-width) {
    width: 365px;
    background-image: linear-gradient(to top, #f2f2f2 462px, #ffffff 462px);
    overflow: hidden;
  }
}

.result__image-block {
  position: relative;
  margin-left: -21px;

  @media (min-width: @tablet-width) {
    z-index: 1;
    margin-left: -24px;
    padding-bottom: 113px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    padding-bottom: 0;
  }
}

.result__range-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: -18px;
  padding-left: 58px;
  padding-right: 32px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 94px;
    right: 0;
    bottom: 76px;
    z-index: 5;

    width: 600px;
    margin-top: 0;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    left: auto;
    right: 0;
    bottom: 73px;
    padding: 0;
    width: 570px;
  }
}

.result__bar {
  position: relative;
  width: 84px;
  height: 14px;
  padding-top: 3px;
  padding-left: 7px;

  background-color: @bc-white;
  border: 1px solid @bc-gray-border-dark;

  border-radius: 6px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 3px;
    border: none;
  }
}

.result__bar-toggle {
  position: absolute;
  width: 35px;
  height: 6px;

  background-color: @bc-green;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    top: -13px;
    margin-left: -17px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: @bc-white;
    box-shadow:
      0 2px 5px 0 rgba(0, 0, 0, 0.15),
      inset 0 0 0 1px @bc-gray-border-dark;

    &:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow:
        0 2px 5px 0 rgba(0, 0, 0, 0.3),
        inset 0 0 0 2px @bc-green;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 13px;
      margin: 0 auto;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @bc-green;
    }
  }
}

.result__button {
  background-color: transparent;
  border: none;
  font-family: @font-title;
  .set-font-size(16px, 20px);
  font-weight: 400;
  .set-uppercase();
  color: @color-title;
  z-index: 1;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-bottom: 6px;
    margin-bottom: -6px;
    .set-font-size(20px, 20px);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.result__row {
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.result__description-block {
  @media (min-width: @desktop-width) {
    padding-bottom: 30px;
    width: 530px;
  }
}
