.site-list__link {
  color: @color-title;
  text-decoration: none;
}

.site-list__item {
  font-family: @font-title;
  .set-font-size (20px, 20px);
  font-weight: 500;
  .set-uppercase();
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    margin-left: 35px;
  }

  .site-list__link {
    .set-font-size (18px, 25px);
    font-weight: 400;
  }
}


@media (min-width: @desktop-width) {
  .site-list__link {
    .set-font-size (20px, 25px);
  }

  .site-list__link--index {
    color: @color-white;
  }
}
